body {
    font-family: Arial, sans-serif;
    margin-top: 70px; /* Ensure the content does not hide behind the fixed navbar */
  }
  
  .navbar {
    padding: 15px; /* Adjust padding for the navbar */
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(9, 9, 9, 0.821);
    width: 97%;
    margin: 0 auto;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px; /* Adjust font size for the brand */
  }
  
 .nickname{
   color: #433;
   font-weight: bold;
   font-size: 18px;
 }

 a.no-underline {
  text-decoration: none;
}

  .dropdown-menu {
    min-width: 220px; /* Set a minimum width for better alignment */
    border-radius: 8px; /* Smoothly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid #e2e6ea; /* Light border for definition */
  }
  
  .dropdown-item {
    padding: 10px 20px; /* Adequate padding for comfort */
    font-size: 16px; /* Professional font size */
    color: #343a40; /* Dark gray text for readability */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effects */
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa; /* Light background on hover */
    color: #007bff; /* Accent color for hover effect */
  }
  
  .dropdown-item:active {
    background-color: #e2e6ea; /* Slightly darker active background */
    color: #0056b3; /* Darker accent color for active state */
  }
  
  
  .auth-buttons {
    display: flex;
    align-items: center; /* Align items vertically center */
  }
  
  .auth-link {
    font-weight: bold; /* Make the text bold */
    text-decoration: none; /* Remove underline */
    color: #cd1985; /* Set a color for the links */
    margin: 0 10px; /* Add margin for spacing */
    padding: 5px 10px; /* Add padding to make it clickable */
    border-radius: 5px; /* Add slight rounding */
    transition: background-color 0.3s; /* Smooth background transition */
  }
  
  .auth-link:hover {
    background-color: rgba(205, 25, 133, 0.1); /* Light background on hover */
    color: #cd1985; /* Maintain color on hover */
  }

  .clickable {
    cursor: pointer;
  }
